<!DOCTYPE html>
<html lang="es">

{% extends 'core/base.html' %}{% load static %}{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
            <!--Menu de Navegacion Dashbort-->

            <!-- Contenido -->
            <main class="main col">

                {% for i in servicios %}
                <div class="row">
                    <div class="col-lg-12">
                        <!--Contenido -->
                        <div class="contenido-service">
                            <div class="card text-center">
                                <div class="card-header">
                                    <h4>{{.subtitle}}</h4>
                                    <h3>{{i.title}}</h3>
                                </div>
                                <center>
                                    <img src="{{i.images.url}}" class="card-img-top" alt=""></center>
                                <div class="card-body">
                                    <p class="card-text">{{i.content}}</p>
                                    <p class="card-text">Precio: {{i.precios}}</p>
                                </div>
                                <div class="card-footer">
                                    <h6>{{i.created|date:"SHORT_DATE_FORMAT"}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>c
    </div>


</body>

{% endfor %}

</html>{% endblock %}